@import '../style/color';

$header-height: 40px;
$header-bar-height: 40px;

#header {
  position: fixed;
  width: 100%;
  height: $header-height;
  top: 0px;
  background-color: $color-primary;

  #header-bar {
    display: flex;
    height: $header-bar-height;
  }

  #header-title {
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    margin: 8px;
    padding: 4px;
    font-weight: 800;
  }
}